<body>
    <div class="main">
      <%= link_to "Even articles", even_articles_path(articles: @articles), id: "filter_even", remote: true %>
      <%= link_to "Odd articles", odd_articles_path(articles: @articles), id: "filter_odd", remote: true %>

      <div id="articles_container">
      <% @articles.each_with_index do |article, i| %>
        <a href=<%= article.url %> id=<%= i + 1%>>
          <div>
            <h6><%= article.title %></h6>
            <% if article.image_link %>
              <img src="<%= article.image_link%>"/>
            <% else %>
              <%= image_tag "blue.jpeg" %>
            <% end %>
          </div>
        </a>
      <% end %>
    </div>

    <%= link_to "More articles", more_articles_path(articles: @articles), id: "more_articles", remote: true %>
  </div>

</body>






